@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --scrollbar-width: 7px;
    }

    ::-webkit-scrollbar {
        width: var(--scrollbar-width);
    }

    ::-webkit-scrollbar-track {
        background: theme(colors.background);
    }

    ::-webkit-scrollbar-thumb {
        background: #4a4a4c;
        border-radius: 7px;
        padding-left: 1px;
        padding-right: 1px;
    }

    body {
        width: calc(800px - var(--scrollbar-width));
    }

    html *:not(svg, path) {
        @apply text-typography;
    }
}
